

/*
Surcharge des balises
*/

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;

    /* Background */
    background: url(../background.png) no-repeat;
    background-size: cover;

    font-size: 14px;
    color: #d8d8d8;

}


/* Anchor */

a {
    color: #f7931d;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #a3531b;
    text-decoration: underline;
}



/*
SPECIALISATION BOOTSTRAP

Surcharge CSS des balises et classes
pour spécialiser le thème par défaut de Bootstrap
aux couleurs de www.lardoisienne.fr

*/



/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border: 1px solid #EE1D23;
    background-color: transparent;
}

.jumbotron h1{
    color: #EE1D23;
}
.jumbotron h2{
    color: #EE1D23;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}






/* .nav */


.nav > li.disabled > a {
    color: #999999;
}

.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
    color: #999999;
}

.nav .nav-divider {
    background-color: #e5e5e5;
}



/* .nav-pills*/


.nav-pills > li > a {
    color: #D8D8D8;
    border: 1px solid transparent;
}

.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
    background-color: transparent;
    border: 1px solid #f7931d;
    cursor: pointer;
}

.nav-pills .open > a,
.nav-pills .open > a:hover,
.nav-pills .open > a:focus {
    color: #f7931d;
    background-color: transparent;
    border-color: #f7931d;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: transparent;
    border: 1px solid #EE1D23;
}

.nav-pills > .active > a > .badge {
    color: #f7931d;
    background-color: #D8D8D8;
}


/* .dropdown-menu*/

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #f7931d;
    background-color: #f5f5f5;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #D8D8D8;
    background-color: #f7931d;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    color: #999999;
}


/*

EXTENTION DE BOOSTRAP

Création d'id et de classes CSS
pour étendre Bootstrap et
créer des composants spécifiques à www.lardoisienne.fr.

*/




/* Everything but the jumbotron gets side spacing for mobile first views */
/*
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
*/





/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.marketing .btn {
    font-size: 21px;
    padding: 10px 20px;
}



.label-blue {
    background-color: #00aaad;
}

.label-blue[href]:hover,
.label-blue[href]:focus {
    background-color: #008487;
}

.label-green {
    background-color: #8bc63e;
}

.label-green[href]:hover,
.label-green[href]:focus {
    background-color: #618c2d;
}


.label-orange {
    background-color: #f7931d;
}

.label-orange[href]:hover,
.label-orange[href]:focus {
    background-color: #a3531b;
}





/* Bouton bleu */

.btn-blue {
    color: #3f3f3f;
    background-color: #00AAAD;
    border-color: #008487;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
    color: #D8D8D8;
    background-color: #008487;
    border-color: #00696c;
}

.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
    background-image: none;
}

.btn-blue.disabled,
.btn-blue[disabled],
fieldset[disabled] .btn-blue,
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled:active,
.btn-blue[disabled]:active,
fieldset[disabled] .btn-blue:active,
.btn-blue.disabled.active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue.active {
    background-color: #00AAAD;
    border-color: #008487;
}

.btn-blue .badge {
    color: #00AAAD;
    background-color: #3f3f3f;
}


/* Bouton vert */


.btn-green {
    color: #3f3f3f;
    background-color: #8bc63e;
    border-color: #618c2d;
}

.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
    color: #D8D8D8;
    background-color: #618c2d;
    border-color: #3f5d20;
}

.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
    background-image: none;
}

.btn-green.disabled,
.btn-green[disabled],
fieldset[disabled] .btn-green,
.btn-green.disabled:hover,
.btn-green[disabled]:hover,
fieldset[disabled] .btn-green:hover,
.btn-green.disabled:focus,
.btn-green[disabled]:focus,
fieldset[disabled] .btn-green:focus,
.btn-green.disabled:active,
.btn-green[disabled]:active,
fieldset[disabled] .btn-green:active,
.btn-green.disabled.active,
.btn-green[disabled].active,
fieldset[disabled] .btn-green.active {
    background-color: #8bc63e;
    border-color: #618c2d;
}

.btn-green .badge {
    color: #8bc63e;
    background-color: #3f3f3f;
}


/* Bouton orange */


.btn-orange {
    color: #3f3f3f;
    background-color: #f7931d;
    border-color: #a3531b;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
    color: #D8D8D8;
    background-color: #a3531b;
    border-color: #6a3515;
}

.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
    background-image: none;
}

.btn-orange.disabled,
.btn-orange[disabled],
fieldset[disabled] .btn-orange,
.btn-orange.disabled:hover,
.btn-orange[disabled]:hover,
fieldset[disabled] .btn-orange:hover,
.btn-orange.disabled:focus,
.btn-orange[disabled]:focus,
fieldset[disabled] .btn-orange:focus,
.btn-orange.disabled:active,
.btn-orange[disabled]:active,
fieldset[disabled] .btn-orange:active,
.btn-orange.disabled.active,
.btn-orange[disabled].active,
fieldset[disabled] .btn-orange.active {
    background-color: #f7931d;
    border-color: #a3531b;
}

.btn-orange .badge {
    color: #f7931d;
    background-color: #3f3f3f;
}

/* Custom page header */
.header {
    /*border-bottom: 1px solid #EE1D23;*/

}
/* Make the masthead heading the same height as the navigation */
/*
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
*/

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
/*
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
*/
    /* Space out the masthead */
/*
    .header {
        margin-bottom: 30px;
    }
*/
     /*Remove the bottom border on the jumbotron for visual effect */
/*
    .jumbotron {
        border-bottom: 0;
    }
*/
}
