<div class="masthead">
    <div class="container">

        <p style="text-align: center">
            <img src="images/main.png" alt="L'Ardoisienne"><br/>
        </p>

        <p style="text-align: center">
            <img src="images/logo_lardoisienne_def.png" alt="L'Ardoisienne" width="90%"/>
        </p>

        <p class="lead" style="text-align: center; font-size: 28px; font-family: 'Vampiro One', cursive; color: orange;">
            Spécialisée dans la fabrication <span style="font-size: 40px;">d'ardoises</span> personnalisées
        </p>

<!--
        <div class="row">
                <div class="col-md-6" style="text-align: center">
                    <a ng-href="#/galerie" class="btn ard-blue-button" style="font-size: 20px; padding: 14px 24px; margin: 5px;">Voir la galerie</a>
                </div>
                <div class="col-md-6" style="text-align: center">
                    <a ng-href="#/contact" class="btn ard-green-button" style="font-size: 20px; padding: 14px 24px; margin: 5px;">Nous contacter</a>
                </div>
        </div>
-->

    </div>
</div>
