<div>
    <ul class="nav nav-pills pull-right">
        <li ng-repeat="item in menu" ng-class="{'active':isActive(item), 'dropdown':item.menu}">
            <a ng-hide="item.menu" ng-href="#{{item.location}}"> {{item.titre}} </a>
            <a ng-show="item.menu" data-toggle="dropdown">
                {{item.titre}}
                <span ng-show="item.menu" class="caret"></span>
            </a>
            <ul ng-show="item.menu" class="dropdown-menu">
                <li ng-repeat="item2 in item.menu" ng-class="{'active':isActive(item2)}">
                    <a ng-href="#{{item2.location}}">{{item2.titre}}</a>
                </li>
            </ul>
        </li>
    </ul>
    <div>
        <a href=".">
            <img src="./images/logo_lardoisienne_inverse_def.png" alt="L'Ardoisienne"/>
        </a>
    </div>
</div>