<header>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="page-container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#app-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand"  href=".">
                    <i class="ard-brand-logo"></i>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="app-navbar">

                <ul class="nav navbar-nav navbar-right">
                    <li ng-repeat="item in menu" ng-class="{'active':isActive(item), 'dropdown':item.menu}">
                        <a ng-hide="item.menu" ng-href="#{{item.location}}" ng-click="collapse('#app-navbar')"> {{item.titre}} </a>
                        <a ng-show="item.menu" data-toggle="dropdown">
                            {{item.titre}}
                            <span ng-show="item.menu" class="caret"></span>
                        </a>
                        <ul ng-show="item.menu" class="dropdown-menu">
                            <li ng-repeat="item2 in item.menu" ng-class="{'active':isActive(item2)}">
                                <a ng-href="#{{item2.location}}">{{item2.titre}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

</header>
