<div>
    <ul class="nav nav-pills pull-right">
        <li ng-class="{active: isActive('/')}"><a ng-href="#/">Accueil</a></li>
        <li class="dropdown" ng-class="{active: isMenuActive('/galerie')}">
            <a class="dropdown-toggle" data-toggle="dropdown">Galerie<span class="caret"></span> </a>
            <ul class="dropdown-menu">
                <li ng-class="{active: isActive('/galerie/ardoises')}">
                    <a ng-href="#/galerie/ardoises">Ardoises</a>
                </li>
                <li ng-class="{active: isActive('/galerie/chevalets')}">
                    <a ng-href="#/galerie/chevalets">Chevalets</a>
                </li>
                <li ng-class="{active: isActive('/galerie/customisations')}">
                    <a ng-href="#/galerie/customisations">Customisations & Vitrines</a>
                </li>
            </ul>
        </li>
        <li ng-class="{active: isActive('/contact')}"><a ng-href="#/contact">Contact</a></li>
    </ul>
    <div>
        <a href=".">
            <img ng-src="./images/logo_lardoisienne_inverse_def.png" alt="L'Ardoisienne"/>
        </a>
    </div>

</div>