

<ard-masthead></ard-masthead>

<div class="accueil">

    <div class="info-premiere">
        <div class="info">
            <h2>
                Dans votre établissement, l'<strong>aménagement</strong>, le <strong>mobilier</strong>,
                le <strong>décor</strong> ont été <strong>étudiés</strong>
                pour <strong>satisfaire</strong> aux demandes d’une <strong>clientèle</strong> choisie.
            </h2>
        </div>
    </div>
    <div class="info-secondaire">
        <div class="info">
            <h3>Qu'en est-il de la présentation de vos consommations et plats ?</h3>

            <p>
                Votre ardoise ne doit plus être
                affichée uniquement pour
                satisfaire à la loi, mais devenir
                un accessoire essentiel du décor, un
                objet d'appel, faire partie intégrante
                de l'atmosphère du bar et de la salle.

            </p>
            <p>
                Séduits par votre ardoise, vos clients
                prendront plaisir à la lire puis à
                commander. Sa calligraphie, son
                format, son encadrement et ses
                ornements sont autant d'éléments
                qui valoriseront le lieu, animeront
                l'ambiance et aideront au service.
            </p>

            <p class="commands">
                <a type="button" ng-href="#/galerie" class="btn ard-btn-alternative-b">Voir la galerie</a>

            </p>
        </div>
        <div class="info">
            <h3>Votre ardoise sera la première ambassadrice de la cuisine et du bar.</h3>

            <p>
                Spécialisée dans la fabrication
                d'ardoises sur-mesure, <span class="ard-textual-logo"></span>
                vous conseille
                pour que celles-ci soient à l'image de
                votre établissement et valorisent sa
                décoration. Pour toute étude, n'hésitez
                pas, sans engagement de votre part,
                à nous demander un rendez-vous.
            </p>

            <p class="commands">
                <!--<a ng-href="#/contact" class="btn btn-lg ard-btn-green" >Nous contacter</a>-->
                <a type="button" ng-href="#/contact">Nous contacter</a>
            </p>
        </div>
    </div>
    <div class="info-tertiaire">
        <div class="info">
            <div>
                <p>
                    L'ardoise est traditionnellement le support de communication principal de tout établissement CHR
                    (café, hôtel, restaurant). On y affiche la liste des consommations, plats et boissons,
                    ainsi que  les volumes et  prix.
                </p>
                <p>
                    En plus de satisfaire à la communication de votre établissement et aux obligations légales d’affichage,
                    l'ardoise devient par son attrait  un élément central de votre décoration tant intérieure qu'extérieure.
                </p>
                <p>
                    Une ardoise lisible et harmonieuse induira un à priori favorable sur la parfaite qualité de vos menus
                    comme sur le service offert aux clients.
                </p>
                <p>
                    Sa calligraphie, son encadrement, ses ornements et incrustations sont autant d'éléments qui valoriseront
                    le lieu, animeront l’ambiance et aideront au service.
                </p>
                <p>
                    Spécialisée dans la réalisation d'ardoises sur-mesure,
                    <span class="ard-textual-logo"></span> vous conseille pour que celles-ci soient à l'image de votre établissement et
                    valorisent sa décoration.
                </p>
                <p>
                    Nos ardoises sont entièrement  exécutées à la main et peuvent être modifiées régulièrement à la demande
                    (changement de menus, prix…) dans le cadre de notre contrat de maintenance.
                </p>
                <p>
                    Pour une utilisation étendue et une plus grande flexibilité nous pouvons également intégrer des zones
                    inscriptibles (pour le plat du jour ou les changements de prix fréquent…).
                </p>
                <p class="commands">
                    <a type="button" href="https://docs.google.com/file/d/0B-Yr0MwfnCNWQnZxbm1rZExESlE/preview?pli=1"
                       target="_blank">Télécharger notre plaquette</a>
                </p>
            </div>
        </div>
    </div>

</div>

