
<ard-header>Contact</ard-header>

<div class="container" ng-controller="ContactCtrl">

    <div class="row">
        <div class="col-md-6">
            <section id="atelier-contact">
                <h2 class="ard-color-blue1"><i class="glyphicon glyphicon-home"></i> {{contact.atelier.titre}}</h2>

                <address class="ard-bb-blue">
                    <ard-editable-list list="contact.atelier.adresse" new-value="'Nouvelle ligne'">
                        <ard-editable-list-item ng-repeat="ligne in contact.atelier.adresse | orderByPriority">
                            <ard-editable-text text="contact.atelier.adresse[$index]"> {{ligne}}</ard-editable-text>
                        </ard-editable-list-item>
                    </ard-editable-list>

                </address>
                <address class="ard-bb-blue">
                    <ard-editable-text text='contact.atelier.coordonnees.tel' icon-class="glyphicon glyphicon-phone-alt">
                        {{contact.atelier.coordonnees.tel}}
                    </ard-editable-text>
                    <br>

                    <ard-editable-text text='contact.atelier.coordonnees.fax' icon-class="glyphicon glyphicon-print">
                        {{contact.atelier.coordonnees.fax}}
                    </ard-editable-text>
                    <br>

                    <ard-editable-text text="contact.atelier.coordonnees.mail" icon-class="glyphicon glyphicon-envelope">
                        <a ng-href="mailto:{{contact.atelier.coordonnees.mail}}">{{contact.atelier.coordonnees.mail}}</a>
                    </ard-editable-text>
                </address>
            </section>

            <section id="localisation">
                <address class="ard-bb-blue">
                    <ard-editable-list list="contact.atelier.localisation.transports" new-value="'<transport> <n° ligne> - <station>'">
                        <ard-editable-list-item ng-repeat="transport in contact.atelier.localisation.transports">
                            <ard-editable-text text='contact.atelier.localisation.transports[$index]' icon-class="glyphicon glyphicon-plane"> {{transport}}</ard-editable-text>
                        </ard-editable-list-item>
                    </ard-editable-list>

                    <ard-editable-text text="contact.atelier.localisation.geolocalisationUrl" icon-class="glyphicon glyphicon-map-marker">
                        <a target="_blank" ng-href="{{contact.atelier.localisation.geolocalisationUrl}}">Géolocalisation</a>
                    </ard-editable-text>
                </address>
            </section>

            <section id="infos-legales">
                <address class="ard-bb-blue">

                    <ard-editable-list list="contact.atelier.infosLegales" new-value="'<titre> : <info>'">
                        <ard-editable-list-item ng-repeat="info in contact.atelier.infosLegales">
                            <ard-editable-text text='contact.atelier.infosLegales[$index]' icon-class="glyphicon glyphicon-pushpin"> {{info}}</ard-editable-text>
                        </ard-editable-list-item>
                    </ard-editable-list>

                </address>
            </section>
        </div>
        <div class="col-md-6">
            <section ng-repeat="individu in contact.individus">
                <h2 class="ard-color-green1"><i class="glyphicon glyphicon-user"></i> {{individu.nom}}</h2>
                <address class="ard-bb-green">
                    <ard-editable-text text="individu.tel" icon-class="glyphicon glyphicon-phone">
                        {{individu.tel}}
                    </ard-editable-text>
                    <br>
                    <ard-editable-text text="individu.mail" icon-class="glyphicon glyphicon-envelope">
                        <a ng-href="mailto:{{individu.mail}}">{{individu.mail}}</a>
                    </ard-editable-text>
                </address>
            </section>

            <section id="message">
                <h2 class="ard-color-orange1"><i class="glyphicon glyphicon-send"></i> Une info ?</h2>

                <div ard-send-mail class="ard-bb-orange"></div>
            </section>
        </div>


    </div>
</div>