<div class="container" ng-controller="ContactCtrl">

    <div class="row">
        <div class="col-xs-6">
            <section id="atelier-contact">
                <h2 class="ard-color-blue1"><i class="glyphicon glyphicon-home"></i> {{contact.atelier.titre}}</h2>
                <address>
                    <div ng-repeat="ligne in contact.atelier.adresse">

                        <span ng-show="user.id">
                            <a ng-click="contact.atelier.adresse.splice($index, 1)"><i class="glyphicon glyphicon-minus-sign"></i></a>
                        </span>
                        <ard-editable-text text='ligne'>
                            {{ligne}}
                        </ard-editable-text>
                    </div>
                    <div ng-show="user.id">
                        <a ng-click="contact.atelier.adresse.push('Nouvelle ligne')"><i class="glyphicon glyphicon-plus-sign"></i></a>
                    </div>
                </address>
                <address>
                    <ard-editable-text text='contact.atelier.coordonnees.tel' icon-class="glyphicon glyphicon-phone-alt">
                        {{contact.atelier.coordonnees.tel}}
                    </ard-editable-text>
                    <br>

                    <ard-editable-text text='contact.atelier.coordonnees.fax' icon-class="glyphicon glyphicon-print">
                        {{contact.atelier.coordonnees.fax}}
                    </ard-editable-text>
                    <br>

                    <ard-editable-text text="contact.atelier.coordonnees.mail" icon-class="glyphicon glyphicon-envelope">
                        <a ng-href="mailto:{{contact.atelier.coordonnees.mail}}">{{contact.atelier.coordonnees.mail}}</a>
                    </ard-editable-text>
                </address>
            </section>

            <section id="localisation">
                <address>

                    <ard-editable-text text="contact.atelier.localisation.geolocalisationUrl" icon-class="glyphicon glyphicon-map-marker">
                        <a target="_blank"
                           ng-href="{{contact.atelier.localisation.geolocalisationUrl}}">Géolocalisation</a>
                    </ard-editable-text>
                    <br>

                    <span ng-repeat="transport in contact.atelier.localisation.transports">
                        <i class="glyphicon glyphicon-plane"></i> {{transport.type}} {{transport.ligne}} - {{transport.station}}<br>
                    </span>
                </address>
            </section>

            <section id="infos-legales">
                <address>
                    <span ng-repeat="info in contact.atelier.infosLegales">
                        <i class="glyphicon glyphicon-pushpin"></i> {{info.titre}} : {{info.valeur}}<br>
                    </span>
                </address>
            </section>
        </div>
        <div class="col-xs-6">
            <section ng-repeat="individu in contact.individus">
                <h2 class="ard-color-green1"><i class="glyphicon glyphicon-user"></i> {{individu.nom}}</h2>
                <address>
                    <ard-editable-text text="individu.tel" icon-class="glyphicon glyphicon-phone">
                        {{individu.tel}}
                    </ard-editable-text>
                    <br>
                    <ard-editable-text text="individu.mail" icon-class="glyphicon glyphicon-envelope">
                        <a ng-href="mailto:{{individu.mail}}">{{individu.mail}}</a>
                    </ard-editable-text>
                </address>
            </section>

            <section id="message">
                <h2 class="ard-color-orange1"><i class="glyphicon glyphicon-send"></i> Une info ?</h2>


                <form role="form" ng-submit="envoyer()">
                    <div class="form-group">
                        <label for="raisonSocialeInput">Raison Sociale <i class="glyphicon glyphicon-asterisk"></i></label>
                        <input type="text" class="form-control" id="raisonSocialeInput"
                               ng-model="data.rs" autofocus="true" placeholder="L'Exemple" required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="emailInput">Email <i class="glyphicon glyphicon-asterisk"></i></label>
                        <input type="email" class="form-control" id="emailInput"
                               ng-model="data.replyTo" placeholder="quisuisje@lexemple.fr" required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="telInput">Téléphone</label>
                        <input type="text" class="form-control" id="telInput"
                               ng-model="data.tel" placeholder="01 23 45 67 89"/>
                    </div>
                    <div class="form-group">
                        <label for="msgInput">Message <i class="glyphicon glyphicon-asterisk"></i></label>
                        <textarea class="form-control" id="msgInput"
                                  ng-model="data.message" placeholder="Objet du message ..." required="required"></textarea>
                    </div>
                    <div class="alert alert-{{reponse.severite}}" ng-show="reponse">

                        <button type="button" class="close" ng-click="reponse = undefined;">&times;</button>
                        {{reponse.message}}
                    </div>
                    <div>
                        <button type="submit" class="btn btn-default pull-right">Envoyer</button>
                    </div>
                </form>
            </section>
        </div>


    </div>
</div>