<ard-header>
    <span ng-hide="hasName(displayedCliche.photo) || hasDescription(displayedCliche.photo)">Galerie</span>
    <span ng-show="hasName(displayedCliche.photo)">{{displayedCliche.photo.name}}</span>
    <span ng-show="hasDescription(displayedCliche.photo)"><small>{{displayedCliche.photo.description}}</small></span>
</ard-header>

<div class="galerie">

    <div class="photo" ng-show="displayedCliche">
        <img ng-src="{{displayedCliche.photo.image_url}}" alt="{{displayedCliche.photo.name}}" ng-click="hideCliche()"/>
    </div>

    <div id="zero-vignettes" ng-hide="vignettes">
        <div class="content">
            <div class="zero-vignette">
                <h2>Aucun cliché :'(</h2>
                <p class="lead">Aucun cliché disponible dans la galerie.</p>
            </div>
        </div>
    </div>

    <div class="vignettes" ng-show="vignettes && !displayedCliche">
        <div class="content">
            <div class="vignette" ng-repeat="cliche in vignettes.photos" ng-click="displayCliche(cliche.id)" >
                <div class="thumbnail">
                    <img ng-src="{{cliche.image_url}}" alt="{{cliche.name}}"
                         height="280px" width="280px"/>

                    <div class="caption " ng-show="hasName(cliche) || hasDescription(cliche)">
                        <h3 ng-show="hasName(cliche)">{{cliche.name}}</h3>
                        <p ng-show="hasDescription(cliche)">{{cliche.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
