<ard-header style="margin-bottom: 20px">Connexion</ard-header>

<div class="container bordered-box" style="padding: 30px;" ng-controller="LoginCtrl">
    <form role="form" class="form-horizontal" ng-submit="login()" ng-hide="user.id">
        <div class="form-group">
            <label for="email" class="col-sm-offset-2 col-sm-3">Email</label>
            <div class="col-sm-5">
                <input id="email" type="email" class="form-control" ng-model="user.email" ng-change="loginFail = undefined" name="email" placeholder="Saisissez votre email"/>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-offset-2 col-sm-3">Mot de passe</label>

            <div class="col-sm-5">
                <input id="password" type="password" class="form-control" ng-model="user.password" ng-change="loginFail = undefined" placeholder="Mot de passe"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-5">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="user.rememberMe"> Se rappeler de moi
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-5">
                <button id="loginButton" type="submit" class="btn ard-orange-button" data-content="Email ou mot de passe invalide">Login !</button>
            </div>
        </div>
    </form>

    <form ng-show="user.id" ng-submit="logout()">
        <div>
            <h1 style="text-align: center; padding-bottom: 20px">Bienvenue {{user.email}}</h1>
            <div class="btn-toolbar" role="toolbar" style="padding-bottom: 20px">
                <div class="btn-group btn-group-lg btn-group-justified">
                    <a ng-repeat="item in menu" ng-href="#{{item.location}}" type="button" class="btn" ng-class="menuButtonClasses[$index % menuButtonClasses.length]">{{item.titre}}</a>
                </div>
            </div>
            <div>
                <button type="submit" class="btn ard-orange-button center-block">Déconnexion</button>
            </div>
        </div>
    </form>
</div>
