<ard-header>Connexion</ard-header>

<div class="login" ng-controller="LoginCtrl">

    <div class="login-content">

        <form id="login-form" name="loginForm" role="form" ng-submit="login()" ng-hide="user.id">
            <div class="form-group field email">
                <label for="email" class="control-label">Email</label>
                <div>
                    <input id="email" name="email" type="email" class="form-control"
                           ng-model="user.email"
                           ng-change="loginFail = undefined" placeholder="Saisissez votre email" required/>
                </div>
            </div>
            <div class="form-group field password">
                <label for="password" class="control-label">Mot de passe</label>

                <div>
                    <input id="password" name="password" type="password" class="form-control"
                           ng-model="user.password" ng-change="loginFail = undefined" placeholder="Mot de passe" required/>
                </div>
            </div>
            <div class="form-group field remember">
                <div>
                    <label class="control-label">
                        <input type="checkbox" ng-model="user.rememberMe"> Se rappeler de moi
                    </label>
                </div>
            </div>
            <div class="form-group commands">
                <div>
                    <button id="loginButton" type="submit" ng-disabled="loginForm.$invalid"
                            data-content="Email ou mot de passe invalide">Login !</button>
                </div>
            </div>
        </form>

        <form id="logout-form" ng-show="user.id" ng-submit="logout()">
            <p class="lead">Bienvenue {{user.email}}</p>

            <div class="navigation">
                <div ng-repeat="item in menu" >
                    <a ng-href="#{{item.location}}" type="button" >{{item.titre}}</a>
                </div>
            </div>

            <div class="commands">
                <div>
                    <button type="submit">Déconnexion</button>
                </div>
            </div>
        </form>

    </div>

</div>
