/**
* Typographie
*/
@font-face {
  font-family: Hero;
  src: url(../../fonts/hero/Hero.otf);
}
@font-face {
  font-family: Hero Light;
  src: url(../../fonts/hero/Hero%20Light.otf);
}
@font-face {
  font-family: 'Sarina';
  font-style: normal;
  font-weight: 400;
  src: local('Sarina'), local('Sarina-Regular'), url(http://themes.googleusercontent.com/static/fonts/sarina/v3/RRqEugSKCLP8ArQNKVWWGA.woff) format('woff');
}
@font-face {
  font-family: 'Vampiro One';
  font-style: normal;
  font-weight: 400;
  src: local('Vampiro One'), local('VampiroOne-Regular'), url(http://fonts.gstatic.com/s/vampiroone/v4/Ho2Xld8UbQyBA8XLxF1_NdIh4imgI8P11RFo6YPCPC0.woff) format('woff');
}
/*
Variables
*/
/*
Mixins
*/
.bordered-box {
  border: 1px solid #ee1d23;
  border-radius: 6px;
  padding: 12px;
}
/*
TAGS : Surcharge des balises
*/
body {
  padding-top: 50px;
  padding-bottom: 20px;
  /* Background */
  background: url(../../images/background.png) no-repeat;
  background-size: cover;
  font-size: 18px;
  font-family: Hero, sans-serif;
  color: #d8d8d8;
}
a {
  color: #f7931d;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #a3531b;
  text-decoration: underline;
}
/*
SPECIALISATION BOOTSTRAP

Surcharge CSS des balises et classes
pour spécialiser le thème par défaut de Bootstrap
aux couleurs de www.lardoisienne.fr

*/
/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
.jumbotron {
  text-align: center;
  border: 1px solid #ee1d23;
  background-color: transparent;
}
.jumbotron h1,
.jumbotron h2 {
  color: #ee1d23;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.has-error .control-label {
  color: #ee1d23;
}
.has-warning .control-label {
  color: #f7931d;
}
.has-success .control-label {
  color: #8bc63e;
}
.popover {
  color: #3f3f3f;
}
/* .nav */
.nav > li.disabled > a,
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #999999;
}
.nav .nav-divider {
  background-color: #e5e5e5;
}
/* .nav-pills */
.nav-pills > li > a {
  color: #d8d8d8;
  border: 1px solid transparent;
}
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
  background-color: transparent;
  border: 1px solid #f7931d;
  cursor: pointer;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: transparent;
  border: 1px solid #ee1d23;
}
.nav-pills > li > .badge {
  color: #f7931d;
  background-color: #d8d8d8;
}
.nav-pills .open > a,
.nav-pills .open > a:hover,
.nav-pills .open > a:focus {
  color: #f7931d;
  background-color: transparent;
  border-color: #f7931d;
}
/* .dropdown-menu*/
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #f7931d;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #d8d8d8;
  background-color: #f7931d;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #999999;
}
/* .thumbnail */
.thumbnail {
  border: #050505 1px solid;
  background-color: #050505;
}
.thumbnail .caption {
  font-family: Hero Light, sans-serif;
  color: #d8d8d8;
  text-align: center;
}
.thumbnail .caption > h3 {
  font-family: Hero, sans-serif;
}
.carousel {
  padding: 3px;
}
.carousel > .carousel-inner > .item > img {
  margin-left: auto;
  margin-right: auto;
}
.carousel > .carousel-inner > .item > .carousel-caption > h1,
.carousel > .carousel-inner > .item > .carousel-caption > h2,
.carousel > .carousel-inner > .item > .carousel-caption > h3 {
  color: #f7931d;
}
.carousel > .carousel-inner > .item > img {
  margin-left: auto;
  margin-right: auto;
}
/*

EXTENSION DE BOOTSTRAP

Création d'id et de classes CSS
pour étendre Bootstrap et
créer des composants spécifiques à www.lardoisienne.fr.

*/
.discret a {
  color: #3f3f3f;
}
.discret a:hover {
  color: #777777;
}
.ard-color-blue1 {
  color: #00aaad;
}
.ard-bb-blue {
  border: 1px solid #00aaad;
  border-radius: 6px;
  padding: 12px;
}
.ard-blue-label {
  background-color: #00aaad;
}
.ard-blue-label[href]:hover,
.ard-blue-label[href]:focus {
  background-color: #008487;
}
.ard-bg-blue {
  color: #d8d8d8;
  background-color: #00aaad;
}
a.ard-bg-blue:hover {
  background-color: #008487;
}
.ard-blue-button {
  color: #3f3f3f;
  background-color: #00aaad;
  border-color: #008487;
}
.ard-blue-button:hover,
.ard-blue-button:focus,
.ard-blue-button:active,
.ard-blue-button.active,
.ard-blue-button.open.dropdown-toggle {
  color: #d8d8d8;
  background-color: #008487;
  border-color: #00696c;
}
.ard-blue-button:active,
.ard-blue-button.active,
.ard-blue-button.open.dropdown-toggle {
  background-image: none;
}
.ard-blue-button.disabled,
.ard-blue-button[disabled],
fieldset[disabled] .ard-blue-button,
.ard-blue-button.disabled:hover,
.ard-blue-button[disabled]:hover,
fieldset[disabled] .ard-blue-button:hover,
.ard-blue-button.disabled:focus,
.ard-blue-button[disabled]:focus,
fieldset[disabled] .ard-blue-button:focus,
.ard-blue-button.disabled:active,
.ard-blue-button[disabled]:active,
fieldset[disabled] .ard-blue-button:active,
.ard-blue-button.disabled.active,
.ard-blue-button[disabled].active,
fieldset[disabled] .ard-blue-button.active {
  background-color: #00aaad;
  border-color: #008487;
}
.ard-blue-button.badge {
  color: #00aaad;
  background-color: #3f3f3f;
}
.ard-color-green1 {
  color: #8bc63e;
}
.ard-bb-green {
  border: 1px solid #8bc63e;
  border-radius: 6px;
  padding: 12px;
}
.ard-green-label {
  background-color: #8bc63e;
}
.ard-green-label[href]:hover,
.ard-green-label[href]:focus {
  background-color: #618c2d;
}
.ard-bg-green {
  color: #d8d8d8;
  background-color: #8bc63e;
}
a.ard-bg-green:hover {
  background-color: #618c2d;
}
.ard-green-button {
  color: #3f3f3f;
  background-color: #8bc63e;
  border-color: #618c2d;
}
.ard-green-button:hover,
.ard-green-button:focus,
.ard-green-button:active,
.ard-green-button.active,
.ard-green-button.open.dropdown-toggle {
  color: #d8d8d8;
  background-color: #618c2d;
  border-color: #3f5d20;
}
.ard-green-button:active,
.ard-green-button.active,
.ard-green-button.open.dropdown-toggle {
  background-image: none;
}
.ard-green-button.disabled,
.ard-green-button[disabled],
fieldset[disabled] .ard-green-button,
.ard-green-button.disabled:hover,
.ard-green-button[disabled]:hover,
fieldset[disabled] .ard-green-button:hover,
.ard-green-button.disabled:focus,
.ard-green-button[disabled]:focus,
fieldset[disabled] .ard-green-button:focus,
.ard-green-button.disabled:active,
.ard-green-button[disabled]:active,
fieldset[disabled] .ard-green-button:active,
.ard-green-button.disabled.active,
.ard-green-button[disabled].active,
fieldset[disabled] .ard-green-button.active {
  background-color: #8bc63e;
  border-color: #618c2d;
}
.ard-green-button.badge {
  color: #8bc63e;
  background-color: #3f3f3f;
}
.ard-color-orange1 {
  color: #f7931d;
}
.ard-bb-orange {
  border: 1px solid #f7931d;
  border-radius: 6px;
  padding: 12px;
}
.ard-orange-label {
  background-color: #f7931d;
}
.ard-orange-label[href]:hover,
.ard-orange-label[href]:focus {
  background-color: #a3531b;
}
.ard-bg-orange {
  color: #d8d8d8;
  background-color: #f7931d;
}
a.ard-bg-orange:hover {
  background-color: #a3531b;
}
.ard-orange-button {
  color: #3f3f3f;
  background-color: #f7931d;
  border-color: #a3531b;
}
.ard-orange-button:hover,
.ard-orange-button:focus,
.ard-orange-button:active,
.ard-orange-button.active,
.ard-orange-button.open.dropdown-toggle {
  color: #d8d8d8;
  background-color: #a3531b;
  border-color: #6a3515;
}
.ard-orange-button:active,
.ard-orange-button.active,
.ard-orange-button.open.dropdown-toggle {
  background-image: none;
}
.ard-orange-button.disabled,
.ard-orange-button[disabled],
fieldset[disabled] .ard-orange-button,
.ard-orange-button.disabled:hover,
.ard-orange-button[disabled]:hover,
fieldset[disabled] .ard-orange-button:hover,
.ard-orange-button.disabled:focus,
.ard-orange-button[disabled]:focus,
fieldset[disabled] .ard-orange-button:focus,
.ard-orange-button.disabled:active,
.ard-orange-button[disabled]:active,
fieldset[disabled] .ard-orange-button:active,
.ard-orange-button.disabled.active,
.ard-orange-button[disabled].active,
fieldset[disabled] .ard-orange-button.active {
  background-color: #f7931d;
  border-color: #a3531b;
}
.ard-orange-button.badge {
  color: #f7931d;
  background-color: #3f3f3f;
}
/* Classes d'icônes */
.ard-facebook-logo {
  background: url("../../images/facebook-icone-5610-32.png") no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}
/* Custom masthead */
.masthead {
  background: url(../../images/masthead-background.png);
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.masthead p {
  font-size: 28px;
  font-family: "Vampiro One", cursive;
  color: #f7931d;
}
.masthead p .big {
  font-size: 40px;
}
.masthead .masthead-main {
  background: url(../../images/masthead-main.png);
  margin-left: auto;
  margin-right: auto;
  height: 93px;
  width: 110px;
}
.masthead .masthead-logo {
  background: url(../../images/masthead-logo.png);
  margin-left: auto;
  margin-right: auto;
  height: 151px;
  width: 737px;
}
#vignettes {
  background: url(../../images/masthead-background.png);
  background-size: cover;
}
/* Custom page header */
.header {
  background: url(../../images/header-background.jpg);
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header h1 {
  font-family: 'Vampiro One', cursive;
  color: #f7931d;
}
.header h1 small {
  color: #f5f5f5;
}
/* Custom page footer */
.footer {
  margin-top: 19px;
  padding-top: 19px;
  color: #777777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}
/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.marketing .btn {
  font-size: 21px;
  padding: 10px 20px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Space out the masthead */
  /*
  .header {
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }
*/
  /* Remove the padding we set earlier */
  /*
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
*/
  /* Remove the bottom border on the jumbotron for visual effect */
  /*
  .jumbotron {
    border-bottom: 0;
  }
*/
}
